<?xml version="1.0" encoding="UTF-8" ?>
<module>
    <name>tm_sidenewproducts</name>
    <displayName><![CDATA[TM - Sidebar New products]]></displayName>
    <version><![CDATA[1.0.0]]></version>
    <description><![CDATA[Displays a block featuring your store&#039;s sidebar newest products.]]></description>
    <author><![CDATA[PixoThemes]]></author>
    <tab><![CDATA[]]></tab>
    <is_configurable>1</is_configurable>
    <need_instance>0</need_instance>
	<limited_countries></limited_countries>
</module>